@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;

  background-color: #EEEEEE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-white: #ffffff;

  --color-gray-100: #eeeeee;
  --color-gray-200: #d4dfe9;
  --color-gray-300: #abbac8;
  --color-gray-700: #23374d;
  --color-gray-900: #0d151d;

  --color-blue-300: #85c3ff;
  --color-blue-900: #0085ff;

  --color-error: #cc0000;
  --color-success: #329532;
}

body {
  margin: 0;
  color: var(--color-gray-900);
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-gray-900);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

a.link-color {
  color: var(--color-blue-300);
}

a.link-nav {
  font-size: 1.125rem;
}

a:hover, a:active {
  color: var(--color-blue-900);
}

h1 {
  font-size: 2.75rem;
  font-weight: 200;
  color: var(--color-gray-700);
  text-align: center;
  margin: 3rem 0;
}

h2 {
  font-size: 1.75rem;
  text-align: center;
  margin: .5rem 0;
}

form {
  background-color: var(--color-white);
  border-radius: 1rem;
  max-width: 600px;
  padding: 1.25rem;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-subtitle {
  font-size: 1rem;
  text-align: center;
  color: var(--color-gray-300);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

button {
  width: 100%;
  background-color: var(--color-gray-700);
  color: var(--color-white);
  border-radius: .5rem;
  padding: .825rem;
  margin: 0 auto;
  text-aligh: center;
  border: none;
  transition: background-color .3s ease-in-out;
}

button:hover {
  background-color: var(--color-blue-900);
}

.error {
	color: var(--color-error);
  font-weight: 400;
}

.success-text {
  color: var(--color-success);
}


/* LOADER */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  position: relative;
  border: 3px solid;
  border-color: var(--color-blue-300) var(--color-blue-300) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--color-blue-900) var(--color-blue-900);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    